body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

header {

}

.first {
    width: 800px;
}

.button {
    
}

nav {
    
}

.nav-link {
    background-color: chartreuse;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

h1 {

}

p {
    font-size: 20px;
}

.info {
   
}

article {
   
}

.article-but {
    background-color: chartreuse;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

footer {
   
}

footer a {
    
}

footer p {
}

.etna{
    background-color: rebeccapurple;
text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}
    
.turetta {
    background-color: red;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}
.freon{
    background-color: green;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}
.abama {
background-color: brown;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;}
